.DS_STORE

air-sdk/*
!air-sdk/.gitkeep
bin/
android/temp/
android/repacker/build.config
android/repacker/_temp.apk
android/repacker/_apktemp/
temp/
ios/TeakAir.xcodeproj/project.xcworkspace/xcuserdata/
ios/TeakAir.xcodeproj/xcuserdata
ios/build
ios/Teak.framework*
build/extension.xml
_build
_static
_templates
_doxygen
